@model graduation_project.Models.Useraccount

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/AssetsRegisterChef/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/AssetsRegisterChef/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/AssetsRegisterChef/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/AssetsRegisterChef/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/AssetsRegisterChef/css/main.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <form asp-action="RegisterChef" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group">
                            <label asp-for="Fname" class="control-label"></label>
                            <input asp-for="Fname" type="text" class="input--style-2" required />
                            <span asp-validation-for="Fname" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <label asp-for="Lname" class="control-label"></label>
                            <input asp-for="Lname" type="text" class="input--style-2" />
                            <span asp-validation-for="Lname" class="text-danger"></span>
                        </div>

                        <div class="input-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" type="email" class="input--style-2" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="input--style-2" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" class="input--style-2" required />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <label asp-for="CvChef" class="control-label"></label>
                            <input asp-for="CvChef" class="input--style-2" required />
                            <span asp-validation-for="CvChef" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        @if (!string.IsNullOrEmpty(ViewData["RegisterError"] as string))
                        {
                            <div class="alert alert-danger">
                                @ViewData["RegisterError"]
                            </div>
                        }
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/AssetsRegisterChef/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/AssetsRegisterChef/vendor/select2/select2.min.js"></script>
    <script src="~/AssetsRegisterChef/vendor/datepicker/moment.min.js"></script>
    <script src="~/AssetsRegisterChef/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/AssetsRegisterChef/js/global.js"></script>
</body>
</html>
